$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* { all: unset; }


// Wallpaper Picker

.wallpaper-box {
  background-color: rgba(0, 0, 0, 0.7);  // 0.x = x0% opacity
  border-radius: 0px;
  padding: 0px;
}

.wallpaper-box button {
  border-radius: 8px;
  padding: 6px;
}

.wallpaper-box button:hover {
  transition: 200ms ease;
}



//Power Bar

.power-bar {
  background-color: rgba(50, 0, 0, 0.7);
  border-radius: 8px;
  padding: 6px;
}

// vim:ft=scss
